<%- include('../layouts/header') %>

<div class="container mt-5">

    <div class="p-5 bg-primary text-white rounded">

        <h1 class="display-4 fw-bold">

            Bright Academy

        </h1>

        <p class="lead">

            Nền tảng học online chuyên nghiệp

        </p>

    </div>

</div>

<%- include('../layouts/footer') %>
