<footer class="footer">

  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <h5>Bright Academy</h5>
        <p>Giới thiệu</p>
        <p>Blog</p>
        <p>Liên hệ</p>
      </div>

      <div class="col-md-3">
        <h5>Khám phá</h5>
        <p>Khóa học</p>
        <p>Chứng chỉ</p>
      </div>

      <div class="col-md-3">
        <h5>Liên hệ</h5>
        <p>Email: lienhe@brightacademy.vn</p>
      </div>

      <div class="col-md-3">
        <h5>Bright Academy</h5>
        <p>© 2026</p>
      </div>

    </div>

  </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
