<%- include('../layouts/header') %>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card p-4 shadow">

        <h3 class="text-center mb-4">Đăng ký</h3>

        <form action="/register" method="POST">

          <input type="text" name="fullname" class="form-control mb-3" placeholder="Họ tên" required>

          <input type="email" name="email" class="form-control mb-3" placeholder="Email" required>

          <input type="password" name="password" class="form-control mb-3" placeholder="Mật khẩu" required>

          <button class="btn btn-primary w-100">Đăng ký</button>

        </form>

        <div class="text-center mt-3">
          <span>Đã có tài khoản?</span>
          <a href="/login">Đăng nhập</a>
        </div>

      </div>
    </div>
  </div>
</div>

<%- include('../layouts/footer') %>
