<%- include('../layouts/header') %>

<div class="container mt-5">

    <div class="p-5 bg-success text-white rounded text-center">

        <h1 class="fw-bold">
            ĐÃ ĐĂNG KÝ THÀNH CÔNG
        </h1>

        <p class="lead">
            Vui lòng đăng nhập vào tài khoản
        </p>

        <p id="countdown">
            Trang sẽ tự động chuyển sang đăng nhập sau 5 giây
        </p>

        <a href="/login">
            <button class="btn btn-light mt-3">
                Đăng nhập
            </button>
        </a>

    </div>

</div>

<script>
let timeLeft = 5;
const el = document.getElementById("countdown");

const timer = setInterval(() => {
    timeLeft--;
    el.innerText = "Trang đăng nhập sẽ tự động chuyển sau " + timeLeft + " giây";

    if (timeLeft <= 0) {
        clearInterval(timer);
        window.location.href = "/login";
    }
}, 1000);
</script>

<%- include('../layouts/footer') %>
