<div class="container mt-4">
  <h2>Đăng bài</h2>

  <form method="POST" action="/posts">
    <input name="title" class="form-control mb-2" placeholder="Tiêu đề">
    <input name="image" class="form-control mb-2" placeholder="Link ảnh">
    <input name="category" class="form-control mb-2" placeholder="Danh mục">
    <textarea name="content" class="form-control mb-2"></textarea>
    <button class="btn btn-success">Đăng</button>
  </form>
</div>
