<!DOCTYPE html>
<html>
<head>
    <title>Bright Academy</title>
</head>
<body>

    <header style="background:#333; color:white; padding:10px;">
        <h2>Bright Academy</h2>
    </header>

    <div style="display:flex;">
        <div style="width:200px; background:#eee; padding:10px;">
            Sidebar
        </div>

        <div style="flex:1; padding:20px;">
            <%- body %>   <!-- QUAN TRỌNG -->
        </div>
    </div>

    <footer style="background:#333; color:white; padding:10px;">
        © 2026 Bright Academy
    </footer>

</body>
</html>
