<%- include('../layouts/header') %>

<div class="container py-5">

<div class="card p-5 shadow">

<h1 class="mb-4">

Doanh thu hệ thống

</h1>

<h2 class="text-success">

<%= totalRevenue %> VNĐ

</h2>

</div>

</div>

<%- include('../layouts/footer') %>

