<%- include('../layouts/header') %>

<div class="d-flex gap-2 mt-3">
  <button class="btn btn-primary">Tạo khóa học</button>

  <a href="/teacher/dashboard" class="btn btn-secondary">
    Quay lại
  </a>
</div>

    <form action="/teacher/create-course" method="POST">

        <div class="mb-3">
            <label>Tên khóa học</label>
            <input type="text" name="title" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Mô tả</label>
            <textarea name="description" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label>Giá</label>
            <input type="number" name="price" class="form-control">
        </div>

        <div class="mb-3">
  <label class="form-label fw-bold">Giảng viên</label>
  <input 
    type="text" 
    class="form-control" 
    value="<%= user.fullname %>" 
    readonly
  >
</div>
    
        <button class="btn btn-primary">Tạo khóa học</button>

    </form>

</div>

<%- include('../layouts/footer') %>
