<%- include('../layouts/header') %>

<h1>Teacher Dashboard</h1>

<div class="dashboard-grid">

    <div class="card">
        <h2>My Courses</h2>
        <h3>10</h3>
    </div>

    <div class="card">
        <h2>Total Students</h2>
        <h3>350</h3>
    </div>

</div>

<%- include('../layouts/footer') %>
